# Ignorar diretórios de compilação
bin/
obj/

# Ignorar ficheiros gerados pelo Visual Studio
.vs/
*.suo
*.user
*.vcxproj.user
*.cache
*.log

# Ignorar ficheiros temporários
*.tmp
*.bak
*.ncb
*.opendb
*.pidb
*.sdf
*.sqlite

# Ignorar ficheiros do NuGet
*.nupkg
project.lock.json
