@inherits LayoutComponentBase
@inject NavigationManager NavigationManager

@code {
    private bool ShowNav =>
        !NavigationManager.Uri.Contains("/login") &&
        !NavigationManager.Uri.Contains("/register");
}

<div class="layout-wrapper">
    <div class="page">
        @if (ShowNav)
        {
            <div class="sidebar">
                <NavMenu />
            </div>
        }

        <main>
            @Body
        </main>
    </div>
</div>


<style>
    .layout-wrapper {
        background-color: #f0f0f0; /* fundo cinzento */
        min-height: 100vh;         /* ocupa toda a altura da janela */
    }

</style>