@inherits LayoutComponentBase
@inject NavigationManager NavigationManager

@code {
    private bool ShowNav =>
        !NavigationManager.Uri.Contains("/login") &&
        !NavigationManager.Uri.Contains("/register");
}

<div class="page">
    @if (ShowNav)
    {
        <div class="sidebar">
            <NavMenu />
        </div>
    }

    <main>
        <div class="top-row px-4"></div>
        <article class="content px-4">
            @Body
        </article>
    </main>
</div>