@inherits LayoutComponentBase
@inject NavigationManager NavigationManager

@if (!OcultarNavbar)
{
    <NavMenu />
}

<div class="main">
    <div class="content px-4">
        @Body
    </div>
</div>

@code {
    private bool OcultarNavbar = false;

    protected override void OnInitialized()
    {
        NavigationManager.LocationChanged += (_, args) =>
        {
            VerificarRotas();   
            StateHasChanged();
        };

        VerificarRotas();
    }

    private void VerificarRotas()
    {
        var path = NavigationManager.Uri.Replace(NavigationManager.BaseUri, "");
        OcultarNavbar = path.StartsWith("Login", StringComparison.OrdinalIgnoreCase) ||
                        path.StartsWith("Register", StringComparison.OrdinalIgnoreCase);
    }
}