@inject IJSRuntime Js
@inject NavigationManager NavigationManager

<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" @onclick="RedirectHome">Client</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass nav-scrollable" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        @if (userTypeLoaded && userType == "Organizador" && 
             !NavigationManager.Uri.Contains("login") &&
             !NavigationManager.Uri.Contains("register"))
        {
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="create-event">
                    <span  aria-hidden="true"></span>🎉 Criar Evento
                </NavLink>
            </div>
        }
        @if (userTypeLoaded && userType == "Participante" && 
             !NavigationManager.Uri.Contains("login") &&
             !NavigationManager.Uri.Contains("register"))
        {
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="/Meus_Eventos">
                    <span  aria-hidden="true"></span>📋 Meus Eventos
                </NavLink>
            </div>
        }
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;
    private string? userType;
    private bool userTypeLoaded;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu() => collapseNavMenu = !collapseNavMenu;

    protected override async Task OnInitializedAsync()
    {
        NavigationManager.LocationChanged += OnLocationChanged;
        await LoadUserType();
    }

    private async void OnLocationChanged(object? sender, LocationChangedEventArgs e)
    {
        await LoadUserType();
        StateHasChanged();
    }

    private async Task LoadUserType()
    {
        userType = await Js.InvokeAsync<string>("localStorage.getItem", "userType");
        userTypeLoaded = true;
    }

    public void Dispose()
    {
        NavigationManager.LocationChanged -= OnLocationChanged;
    }
    private void RedirectHome()
    {
        if (!userTypeLoaded) return;

        if (userType == "Participante")
        {
            NavigationManager.NavigateTo("Home_Participante");
        }
        else if (userType == "Organizador")
        {
            Console.WriteLine(userType);
            NavigationManager.NavigateTo("/Home_Organizador");
        }
    }

}