@using Client.Services
@inject NavigationManager NavigationManager

<div class="event-card">
    <div class="event-header">
        <h4>@Event.Name</h4>
    </div>
    <div class="event-body">
        <p><strong>Data:</strong> @Event.EventStartDate.ToString("dd/MM/yyyy")</p>
        <p><strong>Descrição:</strong> @Event.Description</p>
    </div>
    <div class="event-footer">
        <button class="btn btn-primary" @onclick='() => NavigationManager.NavigateTo($"/evento-detalhes/{Event.Id}")'>Participar</button>
    </div>
</div>

@code {
    [Parameter] public ApiService.EventDto Event { get; set; }
    [Parameter] public EventCallback<int> OnParticipate { get; set; }
}